 
@font-face {
    font-family: 'Okula Hayir Soft';
    src: url('../fonts/OkulaHayirSoft.woff2') format('woff2'),
        url('../fonts/OkulaHayirSoft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Default CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}
body{
  font-family: 'Inter', sans-serif;
  background: #000;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.share_text h2 span,
.section_title h2 span{
	position: relative;
}


.share_text h2 span img {
	position: absolute;
	bottom: -8px;
	right: 15px;
	width: 100%;
}

.section_title h2 {
	color: #FFF; 
	font-family: 'Lilita One', cursive;
	font-size: 75px;
	font-style: normal;
	font-weight: 400;
	line-height: 120.7%;
	text-transform: uppercase; 
}

.section_title { 
	margin-bottom: 50px;
	text-align: center;
}
.section_title p {
	color: var(--BLUE, #7CC7DC);
	text-align: center;
	font-family: Manrope;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.8px;
	text-transform: uppercase;
}
p {
	color: #FFF;
	font-family: 'Manrope', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: -0.36px;
	opacity: 0.699999988079071; 
}

.section_padding{
	padding: 100px 0;
}


/********** Start Hedaer Area CSS  *************/

.header_area_main {
	background: var(--main, #1d3240);
	padding: 35px 0;
	border-bottom: 1px solid #aeaeae;
}

.logo a span {
	color: #FFF;
	font-family: 'Lilita One', cursive; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 120.7%;
	text-transform: uppercase;
}

.logo a img { 
	width: 50px;
	height: 50px;
}

.logo a {
	display: flex;
	align-items: center;
	gap: 6px;
}

.header_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu ul li a {
	color: #FFF;
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: -0.32px;
}

.menu ul li a.active, 
.menu ul li a:hover { 
	font-weight: 700; 
	color: var(--yellow, #fff);
}
.menu ul li a:focus { 
	font-weight: 700; 
	color: var(--yellow, #FAE700);
}

.menu ul {
	display: flex;
	gap: 20px;
	align-items: center;
}

.header_social ul {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 10px;
}

.header_social ul li img {
	width: 40px; 
	height: 40px;
}

.bars_menu {
	display: none !important;
}

/********** End Hedaer Area CSS  *************/ 

/********** Start Banner Area CSS  *************/ 

.banner_area {
	background: var(--main, #1d3240);
	padding: 50px 0;
}

.adevnture_left h2,
.banner_text h2 { 
	color: var(--Surface, #FFF);
	font-family: Lilita One;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 75px;
	text-transform: uppercase;
	max-width: 636px;
	width: 100%;
}

.btn_2 {
	border-radius: 5px;
	border: 1px solid #FFF;
	color: var(--Surface, #FFF);
	font-family: Lilita One;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.64px;
	text-transform: uppercase;
	padding: 19px 32px; 
	display: inline-block;
}

.btn_2:hover{
	color: var(--Surface, #FFF);
}


.bammer_btnn {
	display: flex;
	gap: 20px;
	align-items: center;
}

.banner_text p { 
	margin: 10px 0 25px 0;
}

.banner_text{
	position: relative;
}

.banner_banana img {
	width: 130px;
	position: absolute;
	bottom: -135px;
	right: 0;
	/* left: 0; */
	margin: 0 auto;
	width: 206px;
}

.btn_1 { 

	color: var(--Surface, #FFF);
	font-family: 'Lilita One', cursive; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	padding: 20px 24px;
	line-height: 24px; /* 150% */
	letter-spacing: 0.64px;
	text-transform: uppercase;  
	display: inline-block;
	transition: 0.3s;
	border-radius: 5px;
	background: var(--yellow, #7CC7DC);
}

.btn_1:hover{
 	opacity: 0.83; 
	 color: var(--Surface, #FFF);
}

/********** End Banner Area CSS  *************/ 

/********** Start Feature Area CSS  *************/ 
.featear_area { 
	background: #040C18;
}

.feather_logo {
	text-align: center;
}
.feather_logo img {
	width: 100%;
}
.featuress {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
} 

.feather_logo {
	text-align: center;
	flex: 0 0 15%;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
/********** End Feature Area CSS  *************/ 


/********** Start Adventure Area CSS  *************/ 

.adventure_area {
	background: rgba(124, 199, 220, 0.10);
	padding: 70px 0 80px 0; 
}

.adevnture_left {
	position: relative;
}

.adevnture_left h4 {
	color: var(--BLUE, #7CC7DC);
	font-family: Manrope;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.8px;
	text-transform: uppercase;
}

.adevnture_left p {
	padding: 16px 0 25px 0;
}

.adventure_single {
	border-radius: 5px;
	background: rgba(124, 199, 220, 0.10);
	padding: 20px;
	position: relative;
	border: 2px solid transparent;
	transition: 0.3s;
	margin-bottom: 24px;
	height: 172px;
}

.adventure_single h4 {
	color: var(--Surface, #FFF);
	font-family: Lilita One;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.adventure_single p {
	color: var(--Secondary-2, #B9B9BF);
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.adventure_single:hover  {
	border-radius: 5px;
	border: 2px solid var(--BLUE, #7CC7DC);
	background: rgba(129, 175, 221, 0.10);
	box-shadow: 0px 0px 32px 0px rgba(124, 199, 220, 0.48);
}

.up_left {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.3;
}

.up_right {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.3;
}

.down_left {
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.3;
}

.down_right {
	position: absolute;
	bottom: 0;
	right: 0;  
	opacity: 0.3;
}

.adventure_img img {
	position: absolute;
	bottom: -185px;
	left: 191px;
	width: 342px;
}

.section_title.step_title h4 {
	color: #FFF;
	text-align: center;
	font-family: Manrope;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.8px;
	text-transform: uppercase;
}

.section_title.step_title h2{
	font-size: 55px;
}

.section_title.step_title p {
	color: #ECECEC;
	text-align: center;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin-top: 16px;
	max-width: 1026px;
	width: 100%; 
	margin: 16px auto 0 auto;
}
/* 
.steps {
	margin-top: 100px;
} */

.step_single {
	border-radius: 10px;
	border: 2px solid var(--BLUE, #7CC7DC);
	background: #FFF;
	box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.20);
	padding: 34px 20px;
	height: 100%;
}

.step_single h3 {
	color: #7CC7DC;
	font-family: Lilita One;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	text-transform: uppercase;
}

.step_single p {
	color: #7E7E7E;
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	margin-top: 16px;
}


/********** End Adventure Area CSS  *************/ 

/********** Start Step Area CSS  *************/ 
.step_area {
	padding: 80px 0;
	background: #7CC7DC;
}




/********** End Step Area CSS  *************/ 



/********** Start About Area CSS  *************/ 
.about_area { 
	background: var(--main, #8B04FB);
}
.about_left h3 {
	color: #FFF;
	font-family: Okula Hayir Soft;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 120.7%;
	text-transform: uppercase;
}
.about_left p {
	margin: 5px 0 30px 0;
}
.about_img video {
	width: 100%;
}
/********** End About Area CSS  *************/ 

/********** Start Buy Area CSS  *************/ 
.buy_area { 
	background: #0E041E;
}

.buy_single {
	border-radius: 10px;
	background: linear-gradient(134deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 100%);
	backdrop-filter: blur(125.5px);
	padding: 50px 18px;
	text-align: center;
	height: 100%;
}

.buy_single:nth-child(2) { 
	background: linear-gradient(134deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 100%);  
}

.buy_single h3 {
	color: #FFF;
	font-family: Okula Hayir Soft;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background: #8B04FB;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.buy_single h4 {
	color: #FFF;
	font-family: Okula Hayir Soft;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 24px 0 17px 0;
}

.buy_single p {
	color: #FFF;
	text-align: center;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
}


/********** End Buy Area CSS  *************/ 

/********** Start Token Area CSS  *************/

.token_area {
	background: #8905F6;
	padding: 100px 0 0 0;
}

.token_img img {
	width: 100%;
} 

.token_area .section_title h2 img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}


/********** End Token Area CSS  *************/ 

/********** Start Roadmap Area CSS  *************/ 
.roadmap_area { 
	background: #040C18;
	position: relative;
}

#roadmap > img {
	position: absolute; 
	bottom: -63px;
	left: 0;
}

.roadmapd img {
	width: 100%;
}

.roadmapd{
	position: relative;
}

.roadmap_single h4{
	color: var(--Surface, #FFF);
	font-family: Lilita One;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 44px;
	text-transform: capitalize;
}

.roadmap_single ul li p {
	color: var(--Secondary-2, #B9B9BF);
	font-family: Manrope;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
}

.roadmap_single ul {
	list-style: disc;
	margin-left: 25px;
	margin-top: 5px;
}

.first_roadmap {
	position: absolute;
	top: 68px;
	left: 85px;
}

.second_roadmap {
	position: absolute;
	top: 300px;
	right: 300px;
}

.third_roadmap {
	position: absolute;
	top: 514px;
	left: 78px;
}

.last_roadmap {
	position: absolute;
	top: 723px;
	right: 300px;
}


/********** End Roadmap Area CSS  *************/ 

/********** Start Tokenomics Area CSS  *************/ 

.tokenomics_area {
	background: #101F2C; 
	padding: 120px 0 200px 0;
	position: relative;
}

.tokenomics {
	border-radius: 48px;
	background: var(--fill, linear-gradient(134deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 100%));
	backdrop-filter: blur(125.5px);
	padding: 75px;
}

.tokenomics_img {
	text-align: center;
} 

.tokenomics_img img {
	width: 100%; 
}

#tokenomics > img {
	position: absolute;
	right: 0;
	bottom: 0;
}

/********** End Tokenomics Area CSS  *************/  

/********** Start Stages Area CSS  *************/  
.stages_area {
	background: #7CC7DC;
}

.single_stage {
	border-radius: 18px;
	background: #FFF;
	padding: 24px 17px;
	height: 100%;
}

.single_stage h4 {
	color: #7CC7DC;
	font-family: Lilita One;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	text-transform: uppercase;
	margin-bottom: 11px;
}

.single_stage ul li p {
	color: #0E1A28;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	text-transform: capitalize;
}



/********** End Stages Area CSS  *************/  

/********** Start Question Area CSS  *************/
.question_area{ 
	background: #06040F;
} 
 
.accordion-item{
	position: relative;
}


.faq .faq-list ul {
	padding: 0;
	list-style: none;
  }
  
  .faq .faq-list li+li {
	margin-top: 15px;
  }
  
  .faq .faq-list li {
	padding: 20px;
	border-radius: 4px;
	position: relative;
	border-radius: 10px;
	background: rgba(124, 199, 220, 0.10);
	backdrop-filter: blur(10px);
	position: relative;
}
  
.faq .faq-list a {
	display: block;
	position: relative; 
	outline: none;
	cursor: pointer;
	text-decoration: none;
	color: var(--Surface, #FFF);
	font-family: Lilita One;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	text-transform: capitalize; 
}
  
  .faq .faq-list .icon-help {
	font-size: 24px;
	position: absolute;
	right: 0;
	left: 20px;
	color: #e82c88;
  }
  
  .faq .faq-list .icon-show,
  .faq .faq-list .icon-close {
	font-size: 24px;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  .faq .faq-list p {
	margin-bottom: 0;
	padding: 16px 0 16px 0;
	color: var(--Secondary-2, #B9B9BF);
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin-top: 20px;
	border-top: 1px solid rgba(124, 199, 220, 0.48) !important;
}
  
  .faq .faq-list .icon-show {
	display: none;
  }
  
  .faq .faq-list a.collapsed {
	color: var(--Surface, #FFF);
	transition: 0.3s;
  }
   
  .faq .faq-list a.collapsed .icon-show {
	display: inline-block;
	color: #7CC7DC; 
}
.faq .faq-list .icon-close{ 
	color: #7CC7DC; 
}
  
  .faq .faq-list a.collapsed .icon-close {
	display: none; 
  }
   

/********** End Question Area CSS  *************/  

/********** Start Share Area CSS  *************/ 
.share_area {
	padding: 100px 0 120px 0;
	background: #06040F;
}
.share_box {
	background: #7CC7DC;
	border-radius: 10px;
	padding: 116px 60px;
	position: relative;
}
.share_text h2 { 
	width: 90%;
	margin-bottom: 15px;
	color: var(--Surface, #FFF);
	font-family: Lilita One;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 45px;
	text-transform: uppercase;
}
.share_img img {
	width: 100%;
}
.share_text a {
	display: inline-block;
	margin-top: 20px;
	border: 1px solid #FFF;
	color: var(--BLUE, #7CC7DC);
	background: #fff;
}

.share_text a:hover{ 
	color: var(--BLUE, #7CC7DC);
}


.share_img img {
	width: 560px;
	position: absolute;
	top: -130px;
	right: 0;
}

/********** End Share Area CSS  *************/ 

/********** Start Footer Area CSS  *************/ 
.footer_area {
	background: rgba(124, 199, 220, 0.10);
	padding: 80px 0;
	position: relative;
}

.copy_right_area{
	border-top: 1px solid #727272;
	background: #1B303E; 
	padding: 20px 0;
}

.footer {
	text-align: center;
}

.footer h3 {
	color: var(--Surface, #FFF);
	font-family: Lilita One;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 44px;
	text-transform: uppercase;
}

.footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	margin: 32px 0;
}

.footer ul li a img {
	width: 48px;
}

.mail {
	color: #FFF;
	text-align: center;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 15px;
	display: inline-block;
}


.footer p {
	color: #B9B9BF;
	text-align: center;
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	max-width: 781.064px;
	width: 100%;
	margin: 0 auto;
}

.copy_text p {
	color: var(--Secondary-2, #B9B9BF);
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	text-transform: capitalize;
}

.copy_text ul li a {
	color: var(--Secondary-2, #B9B9BF);
	text-align: right;
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	text-transform: capitalize;
}

.copy_text {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copy_text ul {
	display: flex;
	gap: 35px;
}

.pattern_1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 235px;
}

.pattern_2 {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 235px;
}

.desktop_hide{
	display: none;
}

/* mobile menu css  */

.bars_menu i {
	color: #fff;
	font-size: 30px;
}


/* 

	font-family: 'Manrope', sans-serif;
	font-family: 'Okula Hayir Soft';


*/

















/* card css  */

.monkey_card {
	width: 528px;
	border-radius: 20px; 
	padding: 45px 27px 32px 27px;
	margin: 20px auto; 
	border: 1px solid var(--STROKE, #FFF);
	background: var(--FILL, linear-gradient(107deg, rgba(255, 255, 255, 0.15) 0.76%, rgba(255, 255, 255, 0.00) 100%));
	backdrop-filter: blur(125.5px);
}

#countdown ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	gap: 6px;
}

#countdown ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#countdown ul li p {
	color: #FFF;
	font-size: 40px;
	font-family: Inter;
	font-weight: 900;
	line-height: 28px;
	letter-spacing: 4px;
	text-align: center;
}

.count_name {
	color: #FFF;
	font-size: 13px;
	font-family: Inter;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
}  


/* card progress  */
 

.bar {
	position: relative;
	float: left;
	height: 100%;
	background: #7CC7DC;
}
.percent {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin: 0;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
}

.img_monkey img {
	width: 37px;
}

.monkey_progress .progress {
	width: 90%;
	margin: 10px auto;
	border-radius: 20px;
	background: #738089;
}
 
.monekey_info p {
	color: #FFF;
	font-size: 13px; 
	font-weight: 500;
	line-height: 20px;
  margin-bottom: 10px;
}

.monekey_info {
	margin: 18px 0 30px 0;
	text-align: center;
}

.monkey_form_title p {
	color: #FFF;
	font-size: 16px; 
	font-weight: 700;
	line-height: 28px;
}

.monkey_form_title span {
	height: 1px;
	background: #fff;
  width: 24%;
}

.monkey_form_title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/* monkey tabs  */

.monekey_button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
  gap: 5px;
  margin: 20px 0;
}

.monekey_button li button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 8px;
}

.monekey_button li button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 8px;
	border-radius: 10px;
	border: 1.5px solid rgba(0, 17, 51, 0.15);
	background: #FFF;
	padding: 10px 13px;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.monekey_button li {
	width: 100%;
}

.monekey_button li button p {
	color: #A1A1A1;
	font-size: 16px; 
	font-weight: 500;
	line-height: 22px;
	text-transform: uppercase;
}

.monekey_button .active p {
  color: #222223;
}

.monekey_button .active {
	color: #222223;
	border: 1.5px solid #7CC7DC;
}

.from_input {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: #fff;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-radius: 8px;
	margin-bottom: 25px;
	height: 72px;
}

.from_input img {
	/* border-left: 1px solid #ddd; */ 
}

.form_group{
  margin-left: 16px;
  width: 100%;
}

.form_group input {
	color: var(--black, #222223);
	font-size: 20px; 
	font-weight: 800;
	line-height: 27px;
	width: 90%;
	border: none;
}

.form_group label {
	color: rgba(0, 17, 51, 0.60);
	font-size: 14px;
	font-family: Inter;
	line-height: 20px;
}

.img_monkey {
	width: 167px;
	border-left: 1px solid #ddd;
	height: 72px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.form_submit_btn button {
	color: var(--main, #fff);
	text-align: center;
	font-size: 16px;
	font-family: Inter;
	font-weight: 800;
	line-height: 16px;
	height: 66px;
	width: 100%;
	border-radius: 7px;
	background: #7CC7DC;
	border: none;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.form_submit_btn button:hover{
  opacity: 0.80;
}

.monkey_footer a {
	color: #FFF; 
	font-size: 14px;
	font-family: Inter;
	font-weight: 500;
}

.monkey_footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 5px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 25px;
}

.monkey_form{
  display: none;
}

.ETH{
  display: block;
}



/* font-family: 'Lilita One', cursive; */



